{{ define "api.html" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head.html" "API" }}
        <meta property="og:description" content="Find verified onion addresses of popular dark web services.">
        <meta name="twitter:description" content="Find verified onion addresses of popular dark web services.">
        <meta name="description" content="Find verified onion addresses of popular dark web services.">
    </head>
    <body>
    {{ template "menu.html" }}

    <div id="content">
        <h1>API</h1>

        {{- if eq (getTarget) "clearnet" }}
            <p>This site is hosted on GitHub pages, so as long as GitHub supports CORS, the API should support it too.</p>
        {{ end }}

        <h2>Services</h2>

        <p>Service's data are available as JSON. You can access them by replacing .html with .json in URL.</p>

        <h3>Example</h3>

        {{- if eq (getTarget) "clearnet" }}
            <pre>$ curl https://oniontree.org/services/nytimes.json</pre>
        {{ else }}
            <pre>$ curl http://onions53ehmf4q75.onion/services/nytimes.json</pre>
        {{ end }}

        <h2>PGP keys</h2>

        <p>You can download PGP keys, if you know their ID.</p>

        <h3>Example</h3>

        {{- if eq (getTarget) "clearnet" }}
            <pre>$ curl https://oniontree.org/keys/E9971784146CCD94.txt</pre>
        {{ else }}
            <pre>$ curl http://onions53ehmf4q75.onion/keys/E9971784146CCD94.txt</pre>
        {{ end }}
    </div>
    {{ template "footer.html" }}
    </body>
    </html>
{{ end }}
