{{ define "download.html" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head.html" "Download" }}
        {{- if eq (getTarget) "clearnet" }}
            <meta property="og:description" content="Find verified onion addresses of popular dark web services.">
            <meta name="twitter:description" content="Find verified onion addresses of popular dark web services.">
        {{ end }}
        <meta name="description" content="Find verified onion addresses of popular dark web services.">
    </head>
    <body>
    {{ template "menu.html" }}

    <div id="content">
        <h1>Download</h1>

        <p>All data published on this site are open source. You can download a copy from <a href="https://github.com/onionltd/oniontree">a repository</a> hosted on GitHub.</p>

        <pre>$ git clone https://github.com/onionltd/oniontree</pre>

        <h3>Bookmarks</h3>

        <p>If you visit this site often, you may be interested in importing <a href="bookmarks.html" download>OnionTree Bookmarks</a> to save time. Once imported, typing a name of service or a tag
            in address bar will suggest the right page.</p>

        <h4>Importing in Tor Browser</h4>

        <p>Click <a href="bookmarks.html" download>OnionTree Bookmarks</a> to save the file on your disk.</p>

        <p>Press <code>CTRL</code> + <code>SHIFT</code> + <code>H</code> to open your library.</p>

        <p>Click 'Import and Backup' to expand available options and choose 'Import Bookmarks from HTML...'.</p>

        <p>Navigate to location where you previously saved bookmarks.html and select the file in order to import it.</p>

        <p>That's it. You should now have a new directory named OnionTree in 'Bookmarks Menu'.</p>

        <p>If you are a Tails user, don't
            forget to <a href="https://tails.boum.org/doc/first_steps/persistence/configure/index.en.html#index2h2">configure your persistent volume</a>
            in order to preserve bookmarks between reboots.</p>
    </div>

    {{ template "footer.html" }}
    </body>
    </html>
{{end}}
