{{ define "download.html" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head.html" "Download" }}
        {{- if eq (getTarget) "clearnet" }}
            <meta property="og:description" content="Find verified onion addresses of popular dark web services.">
            <meta name="twitter:description" content="Find verified onion addresses of popular dark web services.">
        {{ end }}
        <meta name="description" content="Find verified onion addresses of popular dark web services.">
    </head>
    <body>
    {{ template "menu.html" }}

    <div id="content">
        <h1>Download</h1>

        <p>All data published on this site are open source. You can download a copy from <a href="https://github.com/onionltd/oniontree">a repository</a> hosted on GitHub.</p>

        <pre>$ git clone https://github.com/onionltd/oniontree</pre>

        <h3>Bookmarks</h3>

        <p>Import bookmarks to make exploration of the dark web faster and more comfortable.
            Contains <strong>160+ services in total</strong> - <strong>20+ marketplaces</strong>, <strong>20+ vendor shops</strong>, <strong>10+ forums</strong>,
            <strong>10+ search engines</strong> and much more in <strong>30+ different categories</strong>.</p>

        <ul>
            <li><a href="bookmarks.html" download>OnionTree Bookmarks {{ onionTreeBookmarksVersion }}</a></li>
        </ul>

        <h4>Importing in Tor Browser</h4>

        <ol class="link_list">
            <li>Save <a href="bookmarks.html" download>OnionTree Bookmarks</a> on your disk.</li>
            <li>Press <code>CTRL</code> + <code>SHIFT</code> + <code>H</code> to open your library.</li>
            <li>Click '<em>Import and Backup</em>' to expand available options and choose '<em>Import Bookmarks from HTML...</em>'.</li>
            <li>Navigate to location where you previously saved bookmarks.html and select the file in order to import it.</li>
            <li>That's it. There should be a new directory in '<em>Bookmarks Menu</em>'.</li>
        </ol>

        <p>If you are a Tails user, don't
            forget to <a href="https://tails.boum.org/doc/first_steps/persistence/configure/index.en.html#index2h2">configure your persistent volume</a>
            in order to preserve bookmarks between reboots.</p>
    </div>

    {{ template "footer.html" }}
    </body>
    </html>
{{end}}
