{{ define "search.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.html" "Search results" }}
    <meta name="description" content="Find verified onion addresses of popular dark web services.">
    {{- if eq (getTarget) "clearnet" }}
    <script src="/jquery.js"></script>
    <script>
        function newResult(service){
            return $("<li></li>", { "class": "results_result" }).append(
                $("<a></a>", { "href": "/services/" + service + ".html" }).text(service)
            )
        }

        function newNoResult(){
            return $("<li></li>", { "class": "results_result" }).append(
                $("<p></p>").text("No results found for your query.")
            )
        }

        function newSearching(){
            return $("<li></li>", { "class": "results_result" }).append(
                $("<p></p>").text("Searching...")
            )
        }
    </script>
    {{ end }}
</head>
<body>
    {{ template "menu.html" }}

    <div id="content">
        {{- if eq (getTarget) "clearnet" }}
            <h1>Search results for '<span id="name"></span>'</h1>

            <noscript>Sorry, search requires javascript.</noscript>

            <ul id="results"></ul>
        {{ else }}
            <h1>Search disabled</h1>

            <p>We apologize, searching is disabled on .onion site. This function requires <strong>Javascript</strong> to use and works by
                querying <strong>GitHub's API</strong>. This may potentially decrease your level of privacy.</p>

            <p>If you insist, use the form below
                that will forward your query to our <strong>clearnet</strong> address.</p>

            <form action="https://oniontree.org/search.html">
                <input type="text" name="q" value="" placeholder="Search">
                <input type="submit" value="Search on clearnet">
            </form>
        {{ end }}
    </div>

    {{ template "footer.html" }}

    {{- if eq (getTarget) "clearnet" }}
    <script>
        // Get ID from filename
        function getID(name) {
            return name.split('.').slice(0, -1).join('.');
        }

        let query = new URLSearchParams(new URL(window.location.href).search).get("q");
        if ( query != null ) {
            $("#name").text(query);
            $("#results").empty();
            $("#results").append(newSearching());
            $.get("https://api.github.com/search/code", {"q": "repo:onionltd/onionltd.github.io path:services/" + " " + query}, function(data){
                $("#results").empty();

                let results = [];
                for ( let i = 0; i < data["items"].length; i++ ) {
                    results.push(getID(data["items"][i]["name"]));
                }

                results = results.filter(function(value, index, self){
                    return self.indexOf(value) === index;
                });

                for ( let i = 0; i < results.length; i++ ) {
                    $("#results").append(newResult(results[i]));
                }

                if ( results.length == 0 ) {
                    $("#results").append(newNoResult());
                    return;
                } else if ( results.length == 1 ) {
                    console.log("result score:", data["items"][0]["score"]);
                    if ( data["items"][0]["score"] > 10 ) {
                        window.location.replace("/services/" + getID(data["items"][0]["name"]) + ".html");
                    }
                }
            });
        }
    </script>
    {{ end }}
</body>
</html>
{{end}}
