{{ define "search.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.html" "Search results" }}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
        function newResult(service){
            return $("<li></li>", { "class": "results_result" }).append(
                $("<a></a>", { "href": "/services/" + service + ".html" }).text(service)
            )
        }

        function newNoResult(){
            return $("<li></li>", { "class": "results_result" }).append(
                $("<p></p>").text("No results found for your query.")
            )
        }

        function newSearching(){
            return $("<li></li>", { "class": "results_result" }).append(
                $("<p></p>").text("Searching...")
            )
        }
    </script>
</head>
<body>
    {{ template "menu.html" }}

    <div id="content">
        <h1>Search results for '<span id="name"></span>'</h1>

        <noscript>Sorry, search requires javascript.</noscript>

        <ul id="results"></ul>
    </div>

    <script>
        let query = new URLSearchParams(new URL(window.location.href).search).get("q");
        if ( query != null ) {
            $("#name").text(query);
            $("#results").empty();
            $("#results").append(newSearching());
            $.get("https://api.github.com/search/code", {"q": "repo:onionltd/onionltd.github.io path:services/" + " " + query}, function(data){
                $("#results").empty();

                let results = [];
                for ( let i = 0; i < data["total_count"]; i++ ) {
                    let id = data["items"][i]["name"].split('.').slice(0, -1).join('.');
                    results.push(id);
                }

                results = $.unique(results);
                for ( let i = 0; i < results.length; i++ ) {
                    $("#results").append(newResult(results[i]));
                }

                if ( results.length == 0 ) {
                    $("#results").append(newNoResult());
                }
            });
        }
    </script>
</body>
</html>
{{end}}
