{{ define "services.html" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head.html" }}
        {{- if eq (getTarget) "clearnet" }}
            <meta property="og:description" content="Find verified onion addresses of popular dark web services.">
            <meta name="twitter:description" content="Find verified onion addresses of popular dark web services.">
        {{ end }}
        <meta name="description" content="Find verified onion addresses of popular dark web services.">
    </head>
    <body>
    {{ template "menu.html" }}

    <div id="content">
        <h2>Welcome!</h2>

        <p>OnionTree is a repository of Tor hidden services. Use this site to find verified onion
            addresses, PGP keys and other useful information.</p>

        <p>All data are open source, available in machine readable format.</p>

        <p><strong>Visiting often?</strong> Import <a href="download.html">OnionTree Bookmarks</a>.</p>

        <h1 id="services">Services</h1>

        {{ range $letter, $data := . }}
            <h3>{{ $letter }}</h3>

            {{ range $data }}
                <p>
                    <a href="./services/{{ .ID }}.html">{{ .Service.Name }}</a>
                    {{ if (index .ServiceTags .ID) }}
                        <small class="muted">({{ index .ServiceTags .ID | join ", " }})</small>
                    {{ else }}
                        &nbsp;
                    {{ end }}
                    {{ if .Service.URLs }}
                        <a href="./services/{{ .ID }}.html#urls">url</a>
                    {{ end }}
                    {{ if and .Service.URLs .Service.PublicKeys }}
                        &bullet;
                    {{ end }}
                    {{ if .Service.PublicKeys }}
                        <a href="./services/{{ .ID }}.html#pgp">pgp</a>
                    {{ end }}
                </p>
            {{ end }}
        {{ end }}
    </div>
    {{ template "footer.html" }}
    </body>
    </html>
{{ end }}
