{{ define "service.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.html" .Service.Name }}
    <meta name="description" content="{{- if .Service.Description }}{{ .Service.Description }}{{ else }}OnionTree is a repository of Tor hidden services. Use this site to find onion addresses, PGP keys and other useful information. All data are open source, available in a machine readable format.{{ end }}">
</head>
<body>
    {{ template "menu.html" }}

    <div id="content">
        <h1 id="name">{{ .Service.Name }}</h1>

        <p id="description">{{ .Service.Description }}</p>

        {{- if .Tags }}
            <p id="tags">Tags: {{ range .Tags }} <a href="../tags/{{ . }}.html">{{ . }}</a> {{ end }}</p>
        {{ end }}

        <h2 id="urls">Verified URLs</h2>

        <ul class="urls">
            {{ range .Service.URLs }}
                <li class="urls_url text-ellipsis">
                    <img src="http://qf6ycc37agiwvunc757l4427guhdawqngjqs4bfn3kenwszpjnk53sqd.onion/png/{{ . | urlquery }}" class="status_beam" alt="&bullet;">
                    {{ . }}
                </li>
            {{ end }}
        </ul>

        {{- if .Service.PublicKeys  }}
            <h2 id="pgp">PGP Keys</h2>

            <div id="public_keys">
                {{- range .Service.PublicKeys }}
                    <div id="pgp-{{ .ID }}" class="public_key">
                        <p>ID: <a href="/keys/{{ .ID }}.txt">{{ .ID }}</a></p>
                        <p class="text-ellipsis">Fingerprint: {{ .Fingerprint }}</p>
                        <p>User ID: {{ .UserID }}</p>
                        {{- if .Description }}
                            <p><em>{{ .Description }}</em></p>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        {{ end }}
    </div>
    {{ template "footer.html" }}
</body>
</html>
{{ end }}
