{{ define "service.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "head.html" .Name }}
</head>
<body>
    {{ template "menu.html" }}

    <div id="content">
        <h1 id="name">{{ .Name }}</h1>

        <p id="description">{{ .Description }}</p>

        <h2 id="urls">Verified URLs</h2>

        <ul id="urls">
            {{ range .URLs }}
                <li class="urls_url">{{ . }}</li>
            {{ end }}
        </ul>

        {{- if .PublicKeys  }}
            <h2 id="pgp">PGP Keys</h2>

            <div id="public_keys">
                {{- range .PublicKeys }}
                    <div id="pgp-{{ .ID }}" class="public_key">
                        <p>ID: <code>{{ .ID }}</code></p>
                        <p>Fingerprint: <code>{{ .Fingerprint }}</code></p>
                        <p>User ID: <code>{{ .UserID }}</code></p>
                        {{- if .Description }}
                            <p>{{ .Description }}</p>
                        {{ end }}
                        <pre>{{ .Value }}</pre>
                    </div>
                {{ end }}
            </div>
        {{ end }}
    </div>
</body>
</html>
{{ end }}
