{{ define "tag.html" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head.html" (printf "Services tagged as '%s'" .Name) }}
        <meta property="og:description" content="Browse services tagged as '{{ .Name }}'.">
        <meta name="twitter:description" content="Browse services tagged as '{{ .Name }}'.">
        <meta name="description" content="Browse services tagged as '{{ .Name }}'.">
    </head>
    <body>
    {{ template "menu.html" }}

    <div id="content">
        <h1>Services tagged as '{{ .Name }}'</h1>

        {{ range $letter, $data := .Data }}
            <h3>{{ $letter }}</h3>

            {{ range $data }}
                <p>
                    <a href="../services/{{ .ID }}.html">{{ .Service.Name }}</a>
                    &nbsp;
                    {{ if .Service.URLs }}
                        <a href="../services/{{ .ID }}.html#urls">url</a>
                    {{ end }}
                    {{ if and .Service.URLs .Service.PublicKeys }}
                        &bullet;
                    {{ end }}
                    {{ if .Service.PublicKeys }}
                        <a href="../services/{{ .ID }}.html#pgp">pgp</a>
                    {{ end }}
                </p>
            {{ end }}
        {{ end }}
    </div>
    {{ template "footer.html" }}
    </body>
    </html>
{{ end }}
