{{ define "tags.html" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head.html" "Tags" }}
        <meta name="description" content="Find and verify working onion addresses. Browse the dark web with confidence.">
    </head>
    <body>
    {{ template "menu.html" }}

    <div id="content">
        <h1>Tags</h1>

        {{ range $letter, $data := . }}
            <h3>{{ $letter }}</h3>

            {{ range $data }}
                <p><a href="{{ . }}.html">{{ . }}</a></p>
            {{ end }}
        {{ end }}
    </div>
    {{ template "footer.html" }}
    </body>
    </html>
{{ end }}
