{{ define "tags.html" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head.html" "Tags" }}
        {{- if eq (getTarget) "clearnet" }}
            <meta property="og:description" content="Find verified onion addresses of popular dark web services.">
            <meta name="twitter:description" content="Find verified onion addresses of popular dark web services.">
        {{ end }}
        <meta name="description" content="Find verified onion addresses of popular dark web services.">
    </head>
    <body>
    {{ template "menu.html" }}

    <div id="content">
        <h1>Tags</h1>

        {{ range $letter, $data := . }}
            <h3>{{ $letter }}</h3>

            {{ range $data }}
                <p><a href="{{ . }}.html">{{ . }}</a></p>
            {{ end }}
        {{ end }}
    </div>
    {{ template "footer.html" }}
    </body>
    </html>
{{ end }}
