{{ define "tags.html" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        {{ template "head.html" "Tags" }}
        <meta name="description" content="OnionTree is a repository of Tor hidden services. Use this site to find onion addresses, PGP keys and other useful information. All data are open source, available in a machine readable format.">
    </head>
    <body>
    {{ template "menu.html" }}

    <div id="content">
        <h1>Tags</h1>

        {{ range $letter, $data := . }}
            <h3>{{ $letter }}</h3>

            {{ range $data }}
                <p><a href="{{ . }}.html">{{ . }}</a></p>
            {{ end }}
        {{ end }}
    </div>
    </body>
    </html>
{{ end }}
